---

---

<footer class="footer p-10 bg-neutral text-neutral-content mt-auto">
    <div>
        <p>
            aa
        </p>
    </div>
    <div>
        <span class="footer-title">Social</span>
        <div class="grid grid-flow-col gap-4 content-center">
            <a
                href="https://www.linkedin.com/in/anindo-neel-dutta-2a8050199/"
                target="_blank"
            >
                bb
            </a>
            <a href="https://www.instagram.com/and_249/" target="_blank">
                dd
            </a>

            <a
                href="https://github.com/leen-neel/astro-wordpress"
                target="_blank"
            >
            cc
            </a>
        </div>
    </div>
</footer>